body {
    min-width: 300px;
}

span.avoidwrap {
    display: inline-block;
}

.footer_socialmedia {
    margin-left: 8px;
    margin-right: 8px;
}

#senderNameError, #senderEmailError, #messageError {
    color: #FF0000;
    font-size: 12px;
    display: none;
}

#sendEmailErrorMessage {
    color: #FF0000;
    font-size: 12px;
    display: inline;
    margin-left: 20px;
}

#container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.captcha-notice {
    font-size: 10px;
    color: rgb(169, 169, 169);
    display: inline-block;
    width: 255px;
    text-align: right;
    margin: 5px 10px;
}

@media only screen and (max-width: 450px) {
    .captcha-notice {
      width: 50%;
      font-size: 7px;
      margin: 10px 5px 0 0;
    }
  }

.captcha-notice > a:hover {
    color: blue;
    opacity: .6;
}

.g-recaptcha {
    display: inline;
}

.grecaptcha-badge {
    visibility: hidden;
}

.topnav {
    background-color: #2196f3;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #a3d6ff;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #005496;
    color: white;
  }

  * {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }